.admin-box{
    background-color: gainsboro;
    padding: 309px;
    width: 67%;
    margin: auto;
    text-align: center;
}
.admin-box h1{
    color: brown;
    font-size: 50px;
}
.admin-box form{
    

}
.admin-box form input{
    width: 90%;
    margin: 6px auto;
    padding: 7px;
    border: none;
    box-shadow: 5px 5px 10px  black;
} 
#btn{
    
}
.links{
    text-align: end;
    margin-top: 25px;
}
.links a{
    text-decoration: none;
    color: brown;
    
}